//== 1.0 Base Style

body{
    background: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-family: $body_fonts;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

//== 1.1 Selection Style

*::-moz-selection {
  background: #FFF498;
  text-shadow: none;
}
::-moz-selection {
  background: #FFF498;
  text-shadow: none;
}
::selection {
  background: #FFF498;
  text-shadow: none;
}


//== 1.1 Link Style

a{
    color: $link;
    text-decoration: none;
    outline: 0;
    &:hover,
    &:focus{
        color: $hover;
    }
}

//== 1.1 Image style

img{
    max-width: 100%;
    display: inline-block;
}

img::selection{
    background: transparent
}

img::-moz-selection{
    background: transparent
}